# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/intent-driven/node_modules
/intent-driven/.pnp
/intent-driven/.pnp.js

# testing
/intent-driven/coverage

# production
/intent-driven/build

# misc
/intent-driven/.DS_Store
/intent-driven/.env.local
/intent-driven/.env.development.local
/intent-driven/.env.test.local
/intent-driven/.env.production.local

/intent-driven/npm-debug.log*
/intent-driven/yarn-debug.log*
/intent-driven/yarn-error.log*
/intent-driven/node_modules
