.App {
  text-align: center;
  margin-top: 10px
}

:root {
  --main-color: rgb(46, 149, 145);
  --main-color-light: rgb(59, 193, 189);
  --main-color-hover: rgb(46, 149, 145, 0.2);
  --track-color: #ddd;
}

.customSlider {
  /* max width of your slider */
  max-width: 300px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 3px;
  /* thickness of the track */
  height: 14px;
 /* default color of your track */
  background: var(--track-color);
  border-radius: 10%;
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color-light);
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--main-color);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 10%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}